/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --color-backdrop: hsla(45, 17%, 95%, 0.8);
  --color-background: hsl(242.1, 23.2%, 24.5%);
  --color-text-primary: hsl(38.2, 26.8%, 92%);
  --color-text-secondary: hsl(45.6, 86.2%, 94.3%);
  --color-text-tertiary: hsl(33.8, 56.9%, 70%);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(0, 0%, 0%, 1);
  --color-dark: hsla(0, 0%, 9%, 1);
  --color-cyan-600: #0891b2;
  --color-cyan-300: #67e8f9;

  /* font-families */
  --titleFont: "ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bodyFont: "poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* font-sizing */
  --size-h1: clamp(2.5rem, -1rem + 8vw, 7rem);
  --size-h2: clamp(2.25rem, 1.125rem + 3vw, 4.5rem);
  --size-h3: clamp(1.125rem, -1rem + 1vw, 2rem);
  --size-body: clamp(1rem, -0.875rem + 4vw, 1.25rem);
  --size-link: clamp(0.875rem, 0.75rem + 2vw, 1.125rem);
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* various */
  --max-width: 1600px;
  --transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transition-ease: ease-in-out;
  --shadow-lg: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
  --shadow-sm: rgba(255, 255, 255, 0.05);
  --zindex-base: 1;
  --zindex-1: -1;
  --zindex-2: 2;
  --zindex-nav: 1000;
  --radius-base: 0.75rem;
  --radius-1: 0.25rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--bodyFont);
  background: var(--color-background);
  color: var(--color-text-primary);
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--color-text-secondary);
}

h1,
h2,
h3 {
  font-family: var(--titleFont);
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 100%;
  margin: 0;
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

p {
  font-family: var(--size-body);
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--color-cyan-600);
  outline: 1px solid var(--color-cyan-600);
}